<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Project_OnlineExam</display-name>
	<welcome-file-list>
		<welcome-file>HTML/OnlineExamination.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SignUp</display-name>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>com.controller.SignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignIn</display-name>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>com.controller.SignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>Exam_Filter</display-name>
		<filter-name>Exam_Filter</filter-name>
		<filter-class>com.controller.Exam_Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Exam_Filter</filter-name>
		<url-pattern>*.Exam_Filter</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>CheckLogin</display-name>
		<servlet-name>CheckLogin</servlet-name>
		<servlet-class>com.controller.CheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin</servlet-name>
		<url-pattern>/CheckLogin.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.controller.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Feedback</servlet-name>
		<servlet-class>com.controller.getFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Feedback</servlet-name>
		<url-pattern>/getFeedback.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FSQ</servlet-name>
		<servlet-class>com.controller.FetchSecurityQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FSQ</servlet-name>
		<url-pattern>/FetchSecurityQuestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Recovery</servlet-name>
		<servlet-class>com.controller.UserRecovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Recovery</servlet-name>
		<url-pattern>/UserRecovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckAns</servlet-name>
		<servlet-class>com.controller.CheckAnswer_UpdatePass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckAns</servlet-name>
		<url-pattern>/CheckAnswer_UpdatePass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResPass</servlet-name>
		<servlet-class>com.controller.ResetPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResPass</servlet-name>
		<url-pattern>/ResetPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckLogin_Admin</servlet-name>
		<servlet-class>com.controller.CheckLogin_Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin_Admin</servlet-name>
		<url-pattern>/CheckLogin_Admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin_Logout</servlet-name>
		<servlet-class>com.controller.Admin_Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin_Logout</servlet-name>
		<url-pattern>/Admin_Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin_ViewFeedback1</servlet-name>
		<servlet-class>com.controller.Admin_ViewFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin_ViewFeedback1</servlet-name>
		<url-pattern>/Admin_ViewFeedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckAdminSession</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckAdminSession</servlet-name>
		<url-pattern>/Check_Admin_Session.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_AddCategory</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_AddCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_AddCategory</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_AddCategory.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_AddCategory_StoreCategory</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_AddCategory_StoreCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_AddCategory_StoreCategory</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_AddCategory_StoreCategory.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic_StoreTopic</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic_StoreTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic_StoreTopic</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyTopic_AddTopic_StoreTopic.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet_StoreSet</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet_StoreSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet_StoreSet</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_AddSet_StoreSet.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion_StoreQuestion</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion_StoreQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion_StoreQuestion</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestion_StoreQuestion.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionOptions</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionOptions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionOptions</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionOptions.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcel</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcel</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcel.Admin_Filter</url-pattern>
	</servlet-mapping>
	<!-- <servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcelStore</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcelStore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcelStore</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_AddQuestionExcelStore.Admin_Filter</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>Check_Admin_Session_ContentView</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ContentView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ContentView</servlet-name>
		<url-pattern>/Check_Admin_Session_ContentView.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ContentView_Set</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ContentView_Set</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ContentView_Set</servlet-name>
		<url-pattern>/Check_Admin_Session_ContentView_Set.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ContentView_Question</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ContentView_Question</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ContentView_Question</servlet-name>
		<url-pattern>/Check_Admin_Session_ContentView_Question.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ContentView_Category</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ContentView_Category</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ContentView_Category</servlet-name>
		<url-pattern>/Check_Admin_Session_ContentView_Category.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ContentView_Topic</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ContentView_Topic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ContentView_Topic</servlet-name>
		<url-pattern>/Check_Admin_Session_ContentView_Topic.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ViewFeedback</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ViewFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ViewFeedback</servlet-name>
		<url-pattern>/Check_Admin_Session_ViewFeedback.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_Update</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_Update</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_Update.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_UpdateAllGetForm</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_UpdateAllGetForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_UpdateAllGetForm</servlet-name>
		<url-pattern>/Check_Admin_Session_UpdateAllGetForm.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_UpdateQuestion</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_UpdateQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_UpdateQuestion</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifyQuestion_UpdateQuestion.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_UpdateSet</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_UpdateSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_UpdateSet</servlet-name>
		<url-pattern>/Check_Admin_Session_ModifyCategory_UpdateCategory_Java_ModifySet_UpdateSet.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_Delete</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_Delete</servlet-name>
		<url-pattern>/Check_Admin_Session_Delete.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_DeleteAny</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_DeleteAny</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_DeleteAny</servlet-name>
		<url-pattern>/Check_Admin_Session_DeleteAny.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_UserDetails</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_UserDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_UserDetails</servlet-name>
		<url-pattern>/Check_Admin_Session_UserDetails.Admin_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Admin_Session_UserScore</servlet-name>
		<servlet-class>com.controller.Check_Admin_Session_UserScore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Admin_Session_UserScore</servlet-name>
		<url-pattern>/Check_Admin_Session_UserScore.Admin_Filter</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>Admin_Filter</filter-name>
		<filter-class>com.controller.Admin_Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Admin_Filter</filter-name>
		<url-pattern>*.Admin_Filter</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>User_Filter</filter-name>
		<filter-class>com.controller.User_Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>User_Filter</filter-name>
		<url-pattern>*.User_Filter</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Home</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Home</servlet-name>
		<url-pattern>/Check_User_Session_Home.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Dashboard</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Dashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Dashboard</servlet-name>
		<url-pattern>/Check_User_Session_Dashboard.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Category</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Category</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Category</servlet-name>
		<url-pattern>/Check_User_Session_Category.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_OnlineTest</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Category</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_OnlineTest</servlet-name>
		<url-pattern>/Check_User_Session_Category</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_SetTopic</servlet-name>
		<servlet-class>com.controller.Check_User_Session_SetTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_SetTopic</servlet-name>
		<url-pattern>/Check_User_Session_SetTopic.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Set</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Set</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Set</servlet-name>
		<url-pattern>/Check_User_Session_Set.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Topic</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Topic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Topic</servlet-name>
		<url-pattern>/Check_User_Session_Topic.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckOldPasswordChangePassword</servlet-name>
		<servlet-class>com.controller.CheckOldPasswordChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckOldPasswordChangePassword</servlet-name>
		<url-pattern>/CheckOldPasswordChangePassword.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_DashboardChangePassword</servlet-name>
		<servlet-class>com.controller.Check_User_Session_DashboardChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_DashboardChangePassword</servlet-name>
		<url-pattern>/Check_User_Session_DashboardChangePassword.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Feedback</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Feedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Feedback</servlet-name>
		<url-pattern>/Check_User_Session_Feedback.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_SaveFeedback</servlet-name>
		<servlet-class>com.controller.Check_User_Session_SaveFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_SaveFeedback</servlet-name>
		<url-pattern>/Check_User_Session_SaveFeedback.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_EditProfile</servlet-name>
		<servlet-class>com.controller.Check_User_Session_EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_EditProfile</servlet-name>
		<url-pattern>/Check_User_Session_EditProfile.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_UpdateProfile</servlet-name>
		<servlet-class>com.controller.Check_User_Session_UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_UpdateProfile</servlet-name>
		<url-pattern>/Check_User_Session_UpdateProfile.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_InstructionsTest</servlet-name>
		<servlet-class>com.controller.Check_User_Session_InstructionsTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_InstructionsTest</servlet-name>
		<url-pattern>/Check_User_Session_InstructionsTest.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_GiveTest</servlet-name>
		<servlet-class>com.controller.Check_User_Session_GiveTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_GiveTest</servlet-name>
		<url-pattern>/Check_User_Session_GiveTest.Exam_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_GiveTest_JsFetch</servlet-name>
		<servlet-class>com.controller.Check_User_Session_GiveTest_JsFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_GiveTest_JsFetch</servlet-name>
		<url-pattern>/Check_User_Session_GiveTest_JsFetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_Getqans</servlet-name>
		<servlet-class>com.controller.Check_User_Session_Getqans</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_Getqans</servlet-name>
		<url-pattern>/Check_User_Session_Getqans</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_ScoreCard</servlet-name>
		<servlet-class>com.controller.Check_User_Session_ScoreCard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_ScoreCard</servlet-name>
		<url-pattern>/Check_User_Session_ScoreCard.User_Filter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_help</servlet-name>
		<servlet-class>com.controller.Check_User_Session_help</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_help</servlet-name>
		<url-pattern>/Check_User_Session_help</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_about</servlet-name>
		<servlet-class>com.controller.Check_User_Session_about</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_about</servlet-name>
		<url-pattern>/Check_User_Session_about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_faq</servlet-name>
		<servlet-class>com.controller.Check_User_Session_faq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_faq</servlet-name>
		<url-pattern>/Check_User_Session_faq</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_MainHome</servlet-name>
		<servlet-class>com.controller.Check_User_Session_MainHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_MainHome</servlet-name>
		<url-pattern>/Check_User_Session_MainHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_User_Session_LeaderBoard</servlet-name>
		<servlet-class>com.controller.Check_User_Session_LeaderBoard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_User_Session_LeaderBoard</servlet-name>
		<url-pattern>/Check_User_Session_LeaderBoard.User_Filter</url-pattern>
	</servlet-mapping>
	<error-page>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.sql.SQLException</exception-type>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.io.IOException</exception-type>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/JSP/404error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/JSP/404error.jsp</location>
	</error-page>
</web-app>